@media only screen and (min-width: 751px) {
    #top-nav {
        display: block!important
    }

}
@media all and (max-width: 750px) {
    body {
        font-size: 16px;
    }
    #title-bar{height: 10.7vw;padding: 0;}
    #logo {
        font-size: 2.7vw;
        padding-left: 5px;
        top: 18%;
    }

    #logo img {
        width: 6vw;
        height: 6vw;
    }

    #sns-icon {
        padding-right: 5px;
        right: 10%;
        top: 17%;
    }

    #sns-icon img {
        width: 6.5vw;
        height: 6.5vw;
    }

    img.icon-h2 {
        width: 20px;
        height: 20px;
        margin-top: 5px;
        margin-left: 5px;
    }

    .contents-ti h2 {
        font-size: 20px;
    }

    .menu-icon {
        display: block;
        background-color: #E65B05;
        padding: 1.7vw;
        margin-right: 6px;
        border-radius: 30px;
        position: absolute;
        top: 18%;
        right: 0px;
        z-index: 6;
        transition: .5s;
        transform: translateZ(4px);
    }
    .menu-icon.close{
        background-color:#046EB1;
        transform: translateY(0px) translateX(0px) rotate(0deg) rotateY(180deg);
        transition: .5s;
    }
    .line_1,
    .line_2,
    .line_3 {width: 5.5vw;height: 0.29vw;background-color: white;display: block;margin-bottom: 1.2vw;}
    .line_1{
    }
    .line_3{
        margin-bottom:0px;
    }
    .menu-icon span {
        transition: .4s;
    }
    .menu-icon.close .line_1 {
        -webkit-transform: translateY(20px) rotate(-45deg);
        transform: translateY(1.3vw) translateX(0px) rotate(-45deg);
    }
    .menu-icon.close .line_2 {
        opacity: 0;
    }
    .menu-icon.close .line_3 {
        -webkit-transform: translateY(-20px) rotate(45deg);
        transform: translateY(-1.7vw) translateX(0px) rotate(45deg);
    }
    #top-nav {
        display: none;
        background: rgb(0,0,0,0.8);
        height: 2700px;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 3;
    }
    #header-list{
        display: block;
    }
    #header-list li{
        float: left;
        width: 50%;
        background: rgb(230,91,5,0.8);
        border-bottom:2px solid white;
        height: 90px;
        line-height: 90px;
    }
    #header-list li:nth-child(2n+1){
        border-right:2px solid white;
    }
    #header-list li:last-child{
        border-bottom:none;
    }
    svg {
        top: unset;
        bottom: 7px;
    }

    div#top-img {
    position: relative;
    top: 0;
    margin-bottom: 50px;
    padding-top: 10.6vw;
    }

    div#info-time {
        width: 80%;
        top: unset;
        bottom: 7px;
        left: 10%;
        margin: 0 auto;
    }

    p#in-ti {
        font-size: 20px;
    }

    div#info {
        display: block;
        margin-bottom: 80px;

    }

    div#news {
        width: 100%;
        margin-bottom: 50px
    }

    .menu-list-in {
        width: 90%;
    }

    div#event {
        width: 100%;
        margin-left: 0;
    }

    div#sns-link {
        display: block;
    }

    div#fee {
        margin-bottom: 80px;
    }

    div#twitter {
        width: 100%;
        margin-bottom: 50px;
    }

    div#instagram {
        width: 100%;
        margin-left: 0;
        margin-bottom: 80px
    }

    #link {
        margin-left: 0;
    }

    #link li {
        width: 100%;
    }

    #footer-text p {
        padding-left: 5px;
    }
}
