@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

a {
    text-decoration: none;
}
svg {
    height: 200px;
    width: 100%;
    position: absolute;
    top: 160px;
    left: 0;
}

body {
    font-size: 18px;
    background: #E0F2FF;
    font-family: 'Kosugi Maru', sans-serif;
}

#title-bar {
    max-width: 1040px;
    margin: 0 auto;
    padding: 6px 0;
    position: relative;
    height: 60px;
    background-color: rgb(224, 242, 255, 0.9);
}

#logo {
    color: #046EB1;
    display: flex;
    padding-left: 20px;
    position: absolute;
    top: 10%;
    line-height: 50px;
}

#sns-icon {
    position: absolute;
    right: 20px;
    top: 10%;
    line-height: 0;
    font-family: none;
}
#sns-icon img:hover {
    opacity: 0.7;
}
.menu-icon {
    display: none;
}

#top-nav {
    background: linear-gradient(180deg, #CEFAFA 0%, rgba(255, 255, 255, 0) 93.75%),
        linear-gradient(180deg, #046EB1 0%, rgba(12, 155, 245, 0.6) 43.75%),
        rgb(4, 110, 177, 0.9);
    clear: both;
}

nav li {
    list-style: none;
    text-align: center;
    font-weight: bold;
}

#header-list {
    display: flex;
    max-width: 1040px;
    margin: 0 auto;


}

#header-list li {
    height: 60px;
    width: 20%;
    line-height: 60px;
}

#header-list li:hover {
    background: linear-gradient(180deg, #046EB1 0%, rgba(12, 155, 245, 0.6) 43.75%),
        #046EB1;
}
#header-list a {
    display: inline-block;
    width: 100%;
    color: white;
    text-shadow: 1px 1px 2px rgba(4, 110, 177, 0.8);
}

main {
    max-width: 1040px;
    margin: 0 auto;

}

.contents-ti {
    color: white;
    background: #046EB1;
    display: flex;
}

.contents-ti h2 {
    font-size: 24px;
    line-height: 34px;
}

div#top-img {
    position: relative;
    top: 120px;
    margin-bottom: 167px;
}

div#top-img img {
    width: 100%;
    object-fit: cover;
}

div#info-time {
    position: absolute;
    top: 225px;
    left: 20px;
    width: 279px;
    height: 104px;
    background-color: white;
    color: #046EB1;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;
}

div#info-time h2 {
    padding-top: 10px;
    line-height: normal;
}

div#info-time small p {
    margin-top: 5px;
    line-height: normal;
}

p#in-ti {
    height: 35px;
    background: #E65B05;
    color: white;
    font-weight: bold;
    line-height: 37px;
}

div#info {
    display: flex;
}

img.icon-h2 {
    margin: 3px 5px 3px 20px;
}

div#news {
    width: 615px;
    height: 200px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

div#event {
    width: 398px;
    height: 200px;
    margin-left: 27px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

div#schedule {
    padding-top: 140px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

div#fee {
    width: 100%;
    height: 100%;
    background-color: white;
    margin-top: 140px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

div#schedule h2, #fee h2, #show h2 {
    margin: auto;
}

.menu-list-in {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: auto;
    margin-bottom: 25px;
    padding: 0 5px 5px;
    border-bottom: 2px dashed #E65B05;
}

.menu-list-in:first-child {
    margin-top: 25px;
}

div#show {
    padding-top: 140px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
div#show-event {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 25px 0;
    justify-content: center;
}
.show-in {
    width: 40%;
    height: 150px;
    border-radius: 10px;
    background-color: #ccc;
}
.show-in:nth-child(even) {
    margin-left: 25px;
}
.show-in:nth-child(3), .show-in:nth-child(4) {
    margin-top: 25px;
}
div#sns-link {
    display: flex;
    padding-top: 140px;
}

div#twitter,#instagram {
    width: 398px;
    height: 282px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Literata', serif;
}
div#instagram{
    margin-left:27px;
}


#link {
    margin-left: 28px;
}

#link li {
    line-height: 50px;
    margin-bottom: 8px;
    width: 190px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: linear-gradient(180deg, #CEFAFA 0%, rgba(255, 255, 255, 0) 93.75%),
        linear-gradient(180deg, #046EB1 0%, rgba(12, 155, 245, 0.6) 43.75%),
        #046EB1;
}

#link a {
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.8);
    color: #046EB1;
    display: inline-block;
    width: 100%;
}

#link li:last-child {
    margin-bottom: 0;
}

#link li:hover {
    opacity: 0.5;
    box-shadow: none;
}

#top {
    font-family: 'Literata', serif;
    margin: 90px auto 50px;
    width: 48px;
    text-align: center;
    background-color: #E65B05;
    border-radius: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#top:hover {
    box-shadow: none;
    background-color: #046EB1;
}

#top a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.top-line_1,
.top-line_2 {
    background-color: white;
    width: 29px;
    height: 4px;
    display: block;
    margin-bottom: 8px;
}

.top-line_1 {
    transform: translateY(12px) rotate(-45deg);
}

.top-line_2 {
    transform: translateX(18px) rotate(45deg);
}

footer {
    color: white;
    background: #046EB1;
}

#footer-in {
    max-width: 1040px;
    margin: 0 auto;
    padding: 20px 0 20px 0;
}

footer #logo {
    float: none;
    color: white;
    position: unset;
}

#footer-text p {
    padding-left: 20px;
    margin: 8px 0;
}

small p {
    text-align: center;
}
