*{
    margin:0;
    padding :0;
}
body {
    max-width:1040px;
    margin:0 auto;
    background: #E0F2FF;
}
h2.contents-ti {
    color:white;
    background: #046EB1;
}
div#info-time{
    width: 279px;
    height: 104px;
}
div#news{
    width: 615px;
    height: 200px;
}
div#event{
    width: 398px;
    height: 200px;
}
div#fee{
    width: 1040px;
    height: 225px;
}
div#twitter {
    width: 398px;
    height: 282px;

}
div#instagram {
    width: 398px;
    height: 282px;

}
footer{
    color:white;
    background: #046EB1;
}
